
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Notes</title>
</head>
<body>

<%- include('partials/header') %>

  <h3>Book Notes</h3>

  <div class = notes>
  <p>Title: <%= book.title %></p>
  <p>Author: <%= book.author %></p>
  <p>Rating: <%= book.rating %></p>
  <p>Summary: <%= book.summary %></p>
  <p>Notes: <%= book.notes %></p>

  <form method="POST" action="/books/notes/<%= book.id %>">
    <input type="hidden" name="bookId" value="<%= book.id %>">

    <label for="summary">Summary:</label>
    <textarea id="summary" name="summary"><%= book.summary %></textarea>

    <label for="notes">Notes:</label>
    <textarea id="notes" name="notes"><%= book.notes %></textarea>

    <button type="submit">Save Notes</button>
  </form>
  </div>

<script src=https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js></script>
<script type="module" src="/bookUtils.js"></script>
<script type="module" src="/js/bookForm.js"></script>

<footer>
<%- include('partials/footer') %>
</footer>

</body>

</html>
